<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

        <meta charset="utf-8"/>
        <title>Digital Profile</title>
         <link rel="stylesheet" href="../style/home.css">
    </head>
    <body>
        <nav>
            <a href='/'>Home</a>
            <a href='/create'>Create Profile</a>
        </nav>
        <section id='main-body'>
            <div class="user">
             <table>
                 <tr>
                 <th>Id</th>
                 <th>Name</th>
                 <th>Highschool</th>
                 <th>Senior secondary</th>
                 <th>College</th>
                 <th>Branch</th>
                 <th>Action</th>
                </tr>
                 <% for(let i=0;i<user.length;i++){ %>
                    <tr><td><%= user[i].id%></td>  <td><%=user[i].Name%></td> <td><%=user[i].Highschool%></td> <td><%=user[i].Seniorsecondary%></td> <td><%=user[i].College%></td> <td><%=user[i].Branch%></td> <td><button><a href='/updateprofile/<%=user[i].id%>'>Edit</a></button></td><td><button onclick="deleteUser(<%=user[i].id%>)">Delete</button></td> <td><Button>View Profile</Button></td>  </tr>        
                   <%}%>
             </table>
            </div>
            <div class="info-section">

            </div>
        </section>
        <footer id="footer">

        </footer>
        <script src='/js/deleteuser.js'></script>
    </body>
</html>