<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>Digital Profile</title>
      <link rel="stylesheet" href="../style/user.css">
    </head>
    <body>
        <nav>
            <a href='/'>Home</a>
            <a href='/create'>Create Profile</a>
        </nav>
        <section id="main-body">
            <div class="profile-section">
                <div class="education-section">
                 <%=user.id%>
                 <%=user.Name%>
                 <%=user.Highschool%>
                 <%=user.Seniorsecondary%>
                 <%=user.College%>
                 <%=user.Branch%>
                </div>
                <div class="skill-section">
                    <% for(let i=0;i<skill.length;i++){%>
                        <%=skill[i].id%>
                        <%=skill[i].Skill%>
                        <%}%>
                </div>
            </div>
        </section>
    </body>
</html>