     <div class="main-body">
    <div class="info-section">
        {{#each user}}
         <p>Name:{{this.Name}}</p>
          <p>Highschool:{{this.Highschool}}</p>
          <p>Seniorsecondary:{{this.Seniorsecondary}}</p>
          <p>College:{{this.College}} ({{this.Branch}})</p>
        {{/each}}
    </div>
     <hr>
    <div class="skill-section">
       <table>
           <tr>
               <th>Id</th>
               <th>Skill</th>
           </tr>
           {{#each skills}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.Skill}}</td>
            </tr>
           {{/each}}
       </table>
    </div>
    </div>
    <footer id="footer">
        <p>&copy; Digital Profile 2020</p>
    </footer>